{%extends "AdminAdminBundle::layout.html.twig"%}
{% block pagewrapper %}
    <head>
        <script src="{{asset('amcharts/amcharts/amcharts.js')}}" type="text/javascript"></script>
        <script src="{{asset('amcharts/amcharts/pie.js')}}" type="text/javascript"></script>

        <script src="{{asset('amcharts/amcharts/serial.js')}}" type="text/javascript"></script>



        <script id="p" type="text/javascript">
                    var chart1;
                    var chart1Data = [
                    {
                    "Type" : "Produit",
                            "Value" :{{ produit | length }}
                    },
                    {
                    "Type": "Service",
                            "Value" :{{ service | length}}
                    }
                    ];
                    AmCharts.ready(function() {
                    // PIE CHART
                    chart1 = new AmCharts.AmPieChart();
                            chart1.addTitle("", 25)
                            chart1.dataProvider = chart1Data;
                            chart1.titleField = "Type";
                            chart1.valueField = "Value";
                            chart1.outlineColor = "#FFFFFF";
                            chart1.outlineAlpha = 0.5;
                            chart1.outlineThickness = 2;
                            //chart.balloonText = "[[title]]<br><span style='font-size:20px'><b>[[value]]</b> ([[percents]]%)</span>";
                            // this makes the chart 3D
                            chart1.depth3D = 15;
                            chart1.angle = 15;
                            // WRITE
                            chart1.write("Piechart");
                    });</script>
        <script src="{{asset('amcharts/amcharts/amcharts.js')}}" type="text/javascript"></script>
        <script src="{{asset('amcharts/amcharts/pie.js')}}" type="text/javascript"></script>

        <script src="{{asset('amcharts/amcharts/serial.js')}}" type="text/javascript"></script>

        <script id="donut" type="text/javascript">
                    var legend;
                    var chart;
                    var chartData = [

                    {
                    "Sexe" : "Femme",
                            "Nombre" :{{ femme | length }}
                    },
                    {
                    "Sexe" : "Homme",
                            "Nombre" :{{ homme | length }}
                    }
                    ];
                    AmCharts.ready(function () {
                    // PIE CHART
                    chart = new AmCharts.AmPieChart();
                            // title of the chart
                            chart.addTitle("", 25);
                            chart.dataProvider = chartData;
                            chart.titleField = "Sexe";
                            chart.valueField = "Nombre";
                            chart.sequencedAnimation = true;
                            chart.startEffect = "elastic";
                            chart.innerRadius = "30%";
                            chart.startDuration = 3;
                            chart.labelRadius = 15;
                            chart.balloonText = "[[title]]<br><span style='font-size:20px'><b>[[value]]</b> ([[percents]]%)</span>";
                            // the following two lines makes the chart 3D
                            chart.depth3D = 10;
                            chart.angle = 15;
                            // WRITE                                 
                            chart.write("Donutuser");
                    });</script>
        <script id="puser" type="text/javascript">
                    var chart2;
                    var chart2Data = [
                    {
                    "Type" : "Client",
                            "Value" :{{ client | length }}
                    },
                    {
                    "Type": "Prestataire",
                            "Value" :{{ prest | length}}
                    }
                    ];
                    AmCharts.ready(function() {
                    // PIE CHART
                    chart2 = new AmCharts.AmPieChart();
                            chart2.addTitle("", 25)
                            chart2.dataProvider = chart2Data;
                            chart2.titleField = "Type";
                            chart2.valueField = "Value";
                            chart2.outlineColor = "#FFFFFF";
                            chart2.outlineAlpha = 0.5;
                            chart2.outlineThickness = 2;
                            //chart.balloonText = "[[title]]<br><span style='font-size:20px'><b>[[value]]</b> ([[percents]]%)</span>";
                            // this makes the chart 3D
                            chart2.depth3D = 15;
                            chart2.angle = 15;
                            // WRITE
                            chart2.write("Piechartuser");
                    });</script>
        <script src="{{asset('amcharts/amcharts/amcharts.js')}}" type="text/javascript"></script>
        <script src="{{asset('amcharts/amcharts/pie.js')}}" type="text/javascript"></script>

        <script src="{{asset('amcharts/amcharts/serial.js')}}" type="text/javascript"></script>

        <script id="donutusr" type="text/javascript">
                    var legend;
                    var chart3;
                    var chart3Data = [

                    {
                    "Categorie" : "higiène",
                            "Nombre" :{{ electromenager | length }}
                    },
                    //{
                    //"Categorie" : "Technologie",
                   //         "Nombre" :{{ technologie | length }}
                   // },
                   // {
                   // "Categorie" : "Voyage",
                    //        "Nombre" :{{ voyage | length }}
                    //},
                    {
                    "Categorie" : "Sanitaire",
                            "Nombre" :{{ massage | length }}
                    },
                   // {
                   // "Categorie" : "Cure",
                   //         "Nombre" :{{ cure | length }}
                   // },
                    {
                    "Categorie" : "Hotel",
                            "Nombre" :{{ domestique | length }}
                    }
                    ];
                    AmCharts.ready(function () {
                    // PIE CHART
                    chart3 = new AmCharts.AmPieChart();
                            // title of the chart
                            chart3.addTitle("", 25);
                            chart3.dataProvider = chart3Data;
                            chart3.titleField = "Categorie";
                            chart3.valueField = "Nombre";
                            chart3.sequencedAnimation = true;
                            chart3.startEffect = "elastic";
                            chart3.innerRadius = "30%";
                            chart3.startDuration = 3;
                            chart3.labelRadius = 15;
                            chart3.balloonText = "[[title]]<br><span style='font-size:20px'><b>[[value]]</b> ([[percents]]%)</span>";
                            // the following two lines makes the chart 3D
                            chart3.depth3D = 10;
                            chart3.angle = 15;
                            // WRITE                                 
                            chart3.write("Donut");
                    });</script>


        <script src="{{asset('amcharts/amcharts/amcharts.js')}}" type="text/javascript"></script>
        <script src="{{asset('amcharts/amcharts/pie.js')}}" type="text/javascript"></script>

        <script src="{{asset('amcharts/amcharts/serial.js')}}" type="text/javascript"></script>

    </head>
    <div id="pagewrapper">
        <div class="row">
            <div class="col-lg-10">
                <h1 class="page-header">Statistiques</h1>
            </div>
            <div class="col-lg-2">
                <img src="{{asset('img/logo.PNG')}}">   
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">

            <!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Catégories Deals
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="Donut" ></div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Types Deals                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="Piechart" ></div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->

            <!-- /.col-lg-6 -->
        </div>
        <div class="row">
            <!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Sexe Utilisateurs
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="Donutuser" ></div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Types Utilisateurs
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="Piechartuser" ></div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->

            <!-- /.col-lg-6 -->
        </div>
    </div>
</div>
<!-- /#page-wrapper -->
{% endblock %}
