{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_registerPres') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_errors(form.email) }}
        {{ form_errors(form.plainPassword) }}
        {{form_label(form.email)}}
        {{ form_widget(form.email)}}
  
          <br />
        {{form_label(form.username)}}
        {{ form_widget(form.username) }}
        <br />
        {{form_label(form.plainPassword)}}
        {{ form_widget(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.second) }}
            <br />
        {{form_label(form.societe)}}
        {{ form_widget(form.societe) }}
          <br />
        {{form_label(form.descriptif)}}
        {{ form_widget(form.descriptif) }}
          <br />
        {{form_label(form.adresse)}}
        {{ form_widget(form.adresse) }}
          <br />
        {{form_label(form.datedenaissance)}}
        {{ form_widget(form.datedenaissance) }}
         
        <br />
        {{form_label(form.telephone)}}
        {{ form_widget(form.telephone) }}
       
         <br />
        {{ form_widget(form.nom, { 'attr' : { 'style':'display:none'} }) }}
        {{ form_widget(form.prenom, { 'attr' : { 'style':'display:none'} }) }}
        {{ form_widget(form.sexe, { 'attr' : { 'style':'display:none'} }) }}

        <br />
               {{ form_rest(form) }} 
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
</form>
